<main class="user-main">
	<h1>MyPage</h1>
		<p><%= link_to 'Back', @user_path, class: 'btn btn-outline-info back_buttom', data: {"turbolinks" => false} %></p>
		<%= render 'profile_form', user: @user %>
</main>
