<main class="user-main">
<h1>MyPage</h1>
	<% if @user == current_user %>
		<p><%= link_to '編集', edit_user_path(current_user), class: 'btn btn-info newpost_buttom', data: {"turbolinks" => false} %></p>
	<% end %>
		<%= render 'profile', user: current_user %>
</main>
