<main class="user-main">
<h1>MyPage</h1>
	<p class = "profile-edit"><%= link_to 'Edit'%></p>
	<div class="user-list">
		<div class= "user-profile">
			<%= image_tag "profile.jpg", class:"profile_image" %>
			<p>Name <span class="profile-space"> Nao</span></p>
			<p>National <span class="profile-space">Chiba</span></p>
			<p>Introduction <span class="profile-space">I'm DJ</span></p>
		</div>
	</div>
</main>
