<% videos.each do |video|%>
	<tr>
		<td><%= link_to video.user.name, user_path(video.user) %></td>
		<td><%= link_to video.title, video_path(video),data: {"turbolinks" => false}  %></td>
		<td><%= video_tag video.file,  class:"video-sample", :controls => true %></td>
	</tr>
<% end %>