<table class="table table-table-hover sound-table">
	<thead>
		<tr>
			<th scope="col">User</th>
			<th scope="col">Title</th>
			<th scope="col">Video</th>
		</tr>
	</thead>
	<tbody>
		<% videos.each do |video|%>
			<tr class = "index-list">
				<td><%= link_to video.user.name, user_path(video.user), class: 'index-text' %></td>
				<td><%= link_to video.title, video_path(video),data: {"turbolinks" => false}  , class: 'index-text' %></td>
				<td><%= link_to video_path(video) do %><%= attachment_image_tag video, :image, :fill, 200, 200, format: 'jpeg', fallback:"logo.jpeg" %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
