<% if params[:name] == nil %>
<% else %>
	<div class="video-list">
		<div class="sound-write">
			<h3 class="search-title">#<%= @hashtag.hashtag_word %>: <%= @videos.count %> 件 </h3>
			<%= render 'index', videos: @videos %>
			<%= paginate @videos %>
		</div>
	</div>
<% end %>