<main class="video-main">
<h1>Video#index</h1>
	<div class="video-list">
		<div class="video-back">
				<p><%= video_tag("love.mp4",class:"video-sample", :autoplay =>true,:loop =>true, muted: true, :controls =>true )%>
				Love</p>
				<p><%= video_tag("hindu.mp4",class:"video-sample", :autoplay =>true,:loop =>true, muted: true,:controls =>true)%>
				Hindu</p>
	</div>
