<main class="video-main">
<h1>Video NewPost</h1>
<a><%= link_to '戻る', videos_path, class: 'btn btn-outline-info back_buttom', data: {"turbolinks" => false} %></a>
	<div class="video-list">
			<div class="sound-write">
				<%= render 'form', video: @video %>
				<p class="about-message">⚠︎投稿前にAboutページの注意事項を一読ください！</p>
				<p><%= link_to 'VideoTop', videos_path, class: 'btn btn-info', style: "text-alian:center;" %></p>
			</div>
		</div>
	</div>
</main>
