
<div class= "searchpage-form">
	<%= render 'search' %>
</div>
		<div class="video-list">
			<div class="sound-write">
				<%= render 'index', videos: @videos %>
				<%= paginate @videos %>
			</div>
		</div>