<% @videos.each do |video|%>
	<tr>
		<td><%= link_to video.user.name, user_path(video.user) %></td>
		<td><%= link_to video.title, video_path(video),data: {"turbolinks" => false}  %></td>
		<td><%= attachment_image_tag video, :image, :fill, 200, 200, format: 'jpeg' %></td>
	</tr>
<% end %>
