<div class="user-list">
	<div class="sound-write">
		<div class= "home-about-sharecolor" >
			<strong>SHARECOLOR</strong>
				<p class="home-about-text">
					自作した楽曲や動画を、投稿・共有できるプラットフォームです。</br>
					「Sound」「Video」カテゴリから同時再生機能を活用して、</br>
					ご自身の作品にマッチしたものを見つけることができます。</br>
					会員は作品投稿可能です。</br>

					「Stage」カテゴリは、みなさんの華やかな舞台です。</br>
					完成した作品を投稿してたくさんの人にアピールしましょう！</br>
					あなたの色をぜひ教えてください！</br>
						※「Video」は音無し「Stage」は音有りですのでご注意ください。</br></p>
					</div>
			<div class= "home-about-sharecolor" >
				<strong>※注意事項</strong>
				<p class="home-about-text">
					1, 投稿されている動画作品はダウンロード可能です。</br>
						商用目的でのご使用はご遠慮ください。</br>

					2, デモとして、自作(REMIXは含みません)/以外の楽曲を投稿する場合は、</br>
						お手数ですがデモが終了後、</br>
						削除いただきますようお願いいたします。</br>
						同時再生用の楽曲/動画はそのままで問題ございません。</br>
						※定期的に運営側で投稿の確認いたします。</br>
						その際に不適切な作品が見つかりましたら、</br>こちらで削除させていただきますのでご了承ください。</br>

					3, 対応可能な形式ファイルは以下になります。</br>
						音源 (Sound：MP3、上限 5MB)</br>
					    動画 (Video / Stage :上限 50MB)</br>

					4,ユーザー情報/投稿データに関して</br>
					アプリケーションの運用にあたり、</br>全てのデータを定期的にリセットいたします。</br>
					重要なデータ等がありましたら、個別で保存をお願いいたします。</br>
				</p>
			</div>
	</div>
</div>

