<div class="user-list">
	<div class="sound-write">
		<div class= "home-about-sharecolor" >
			<strong>SHARECOLOR</strong>
				<p class="home-about-text">
					自作した楽曲や動画を、投稿・共有できる<br class="mobile-br">プラットフォームです。</br>
					「Sound」「Video」カテゴリから
					<br class="mobile-br">同時再生機能を活用して、<br class="mobile-br">
					ご自身の作品にマッチしたものを<br class="mobile-br">見つけることができます。
					(同時再生は会員のみ)<br class="mobile-br"></br>

					「Stage」カテゴリは、みなさんの華やかな舞台です。<br class="mobile-br">
					完成した作品を投稿して<br class="mobile-br">たくさんの人にアピールしましょう！</br>
					あなたの色をぜひ教えてください！</br>
						※「Video」は音無し、「Stage」は音有りです。<br class="mobile-br"></br></p>
					</div>
			<div class= "home-about-sharecolor-danger" >
				<strong>※注意事項</strong>
				<p class="home-about-text-danger">
					1, 投稿されている動画作品はダウンロードNGです。<br class="mobile-br">
						商用目的でのご使用はご遠慮ください。<br class="mobile-br"></br>

					2, デモとして、自作(REMIXは含みません)/以外の<br class="mobile-br">楽曲を投稿する場合は
						お手数ですがデモが終了後、<br class="mobile-br">
						削除いただきますようお願いいたします。<br class="mobile-br"></br>
						同時再生用の楽曲/動画はそのままで問題ございません。<br class="mobile-br">
						※定期的に運営側で投稿の確認いたします。<br class="mobile-br">
						その際に不適切な作品が見つかりましたら、<br class="mobile-br">こちらで削除させていただきますのでご了承ください。<br class="mobile-br"></br>

					3, 対応可能な形式ファイルは以下になります。</br>
						音源 (Sound：MP3、上限 5MB)</br>
					    動画 (Video / Stage :上限 50MB)<br class="mobile-br"></br>

					4,ユーザー情報/投稿データに関して</br>
					アプリケーションの運用にあたり、</br>全てのデータを定期的にリセットいたします。</br>
					重要なデータ等がありましたら、<br class="mobile-br">個別で保存をお願いいたします。</br>
				</p>
			</div>
	</div>
</div>

