<% stages.each do |stage|%>
	<tr>
		<td><%= link_to stage.user.name, user_path(stage.user) %></td>
		<td><%= link_to stage.title, stage_path(stage) %></td>
		<td><%= attachment_image_tag stage, :image, :fill, 200, 200, format: 'jpeg' %></td>
	</tr>
<% end %>
