<main class="stage-main">
	<h1>Stage Edit</h1>
		<a><%= link_to '戻る', stages_path, class: 'btn btn-outline-info back_buttom', data: {"turbolinks" => false} %></a>

	<div class="stage-list">
		<div class="sound-write">
			<%= render 'form', stage: @stage %>
			<p><%= link_to 'StageTop', stages_path, class: 'btn btn-info', style: "text-alian:center;" ,data: {"turbolinks" => false} %></p>
		</div>
	</div>
</main>
