<main class="stage-main">
<h1>Stage#index</h1>
		<%= link_to '投稿する', new_stage_path, class: 'btn btn-info', style: "text-alian:center;" %>
		<div class="stage-list">
		<div class="stage-back">
		<p><%= video_tag("girl.mp4",class:"video-sample",:controls =>true)%>
		Zono</p>

	</div>
