<main class="stage-main">
	<h1>Stage NewPost</h1>
		<a><%= link_to '戻る', stages_path, class: 'btn btn-outline-info back_buttom', data: {"turbolinks" => false} %></a>

		<div class="stage-list">
			<div class="sound-write">
				<%= render 'form', stage: @stage %>
					<p class="about-message">⚠︎投稿前にAboutページの注意事項を一読ください！</p>
					<p><%= link_to 'StageTop', stages_path, class: 'btn btn-info', style: "text-alian:center;" %></p>
			</div>
		</div>
</main>