
<div class= "searchpage-form">
	<%= render 'search' %>
</div>
		<div class="stage-list">
			<div class="sound-write">
				<%= render 'index', stages: @stages %>
			</div>
		</div>

		<div class="kaminari-pagenation">
			<%= paginate @sounds %>
		</div>