<main class="user-main">
    <div class="sound-write">
        <div class="user-list">
            <h1>フォロワー</h1>
              <%= render 'follow', users: @users %>
        </div>
    </div>
</main>
