
<%= render 'layouts/error_messages', model: video_source %>

<%= form_for [@sound, @video_source] do |f| %>
	<%= f.file_field :file, class: 'video-source' %>
	<p class= 'index-text-sound'>＊MP4対応: 制限100MB以下</p>
	<%= f.submit "読み込む", class: 'btn btn-outline-info'%><br />
<% end %>