<main class="sound-main">
<h1>Sounds#index</h1>
<%= link_to '投稿する', new_sound_path, class: 'btn btn-info', style: "text-alian:center;" %>
	<div class="sound-list">
	<p>kick.sample
	<%= audio_tag 'kick.mp3'%>
	</p>
	<p>techno.sample
		<%= audio_tag 'techno.mp3'%>
	</p>
	<p>techno2.sample
		<%= audio_tag 'techno_sample02.mp3'%>
	</div>
	</p>
