<main class="sound-main">
	<h1>Sounds NewPost</h1>
	<a><%= link_to '戻る', sounds_path, class: 'btn btn-outline-info back_buttom', data: {"turbolinks" => false} %></a>

		<div class="sound-back">
			<div class="sound-write">
				<%= render 'form', sound: @sound %>
				<p><%= link_to 'SoundTop', sounds_path, class: 'btn btn-info', style: "text-alian:center;" %></p>
			</div>
		</div>
</main>

