// Place all the styles related to the Sounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*=body=*/
.sound-main {
  background-color: #fff;
  opacity: 0.8;
}

.sound-list{
	background-image: url(left_top_link_bg.jpg);
    background-size: cover;
	height: 1000px;
	width: 1000px;
	border-radius: 10px;
	margin: auto;
	text-align: center;
	opacity: 0.8;
}

.audiojs {
	margin: 0 auto;
 }