// Place all the styles related to the Sounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*=body=*/
.sound-main {
  background-color: #fff;
  opacity: 0.8;
}

.sound-back{
	background-image: image-url("left_top_link_bg.jpg");
	background-size: cover;
	height: 1000px;
	width: 1000px;
	border-radius: 10px;
	margin: auto;
	text-align: center;
	opacity: 0.8;
	margin-top: 5%;
}

.sound-write {
	background-color: rgba(255,255,255,0.8);
	margin: auto;
	text-align: center;
	width: 90%;
	height: 100%;
}

.sound-newpost{
	position:absolute;
	top: 10rem;
	right: 1rem;
	}
	.audiojs {
	margin: 0 auto;
	}

.sound-main h1 {
	text-alian: center;
}

@media screen and (max-width:768px) {
.sound-back{
	width: auto;
	}
}

@media screen and (max-width:425px) {

.sound-back{
	height: 1500px;
}

.sound-write {
}

.sound-newpost{
	}
}

