// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.video-sample{
	width: 50%;
	border-radius: 5px;
}

.video-newpost{
	position:absolute;
	top: 10rem;
	right: 1rem;
	}

#video-show,#video_source {
	width: 70%;
	border-radius: 5px;
}
.video-list{
	background-image: image-url("right_top_link_bg.jpg");
	background-size: cover;
	height: 100%;
	width: 1000px;
	border-radius: 10px;
	margin: auto;
	text-align: center;
	opacity: 0.8;
	margin-top: 5%;
	}

.video-back {
	background-color: #fff;
	margin: auto;
	text-align: center;
	width: 90%;
	height: 100%;
}


@media screen and (max-width:768px) {
.video-list{
	width: auto;
	}
}

@media screen and (max-width:425px) {

.video-list{
	width: 650px;
	}
}
